body {
    background-color: #393E46;
    text-align: center;
}

h1 {
    font-family: "Lobster", sans-serif;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
    font-size: 10rem;
}

h3 {
    font-family: "Indie Flower", cursive;
    color: #4ECCA3;
    font-size: 2rem;
}

.dice {
    display: flex;
    justify-content: center;
    gap: 100px;
}

footer {
    font-family: 'Indie Flower', cursive;
    color: #eeeeee;
    margin-top: 30px;
}